<!-- Technical Skills Section -->
<section id="project" class="section section-primary d-flex justify-content-center align-items-center">

    <div class="content content-primary">
        <h3 class="section-heading text-center mt-3">Projects</h3>

        <div class="row skills-row pb-5 m-0">

            <div class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div d-flex justify-content-center">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="100">

                        <figure class="project-figure">
                            <img src="/content/resume.png" class="project-img" alt="Portafolio Project">
                        </figure>

                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    Portafolio Resume
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <a href="https://github.com/" target="_blank"
                                    aria-label="Source Code" data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                               
                            </div>

                        </div>

                        <div class="row pt-1">
                            <h5>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge nodejs-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:nodejs"></span>
                                    &nbsp;
                                    NodeJS
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge express-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:express"></span>
                                    &nbsp;
                                    Express
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge hbs-badge">
                                    <span class="iconify built-with-icons"
                                        data-icon="simple-icons:handlebarsdotjs"></span>
                                    &nbsp;
                                    Handlebars
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons" data-icon="ri:html5-fill"></span>
                                    &nbsp;
                                    HTML
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:bootstrap-fill"></span>
                                    &nbsp;
                                    Bootstrap
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="ion:logo-css3"></span>
                                    &nbsp;
                                    CSS
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:javascript"></span>
                                    &nbsp;
                                    JavaScript
                                </span>

                                <span
                                    class="d-inline-flex align-items-center justify-content-center built-with-badge jquery-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:jquery-fill"></span>
                                    &nbsp;
                                    jQuery
                                </span>

                            </h5>
                        </div>

                       
                        <span class="date-badge">
                            2024
                        </span>

                    </div>
                </div>
            </div>

           
    </div>

</section>