<!-- Resume Section -->
<section id="resume" class="section section-secondary d-flex justify-content-center align-items-center">

  <div class="content content-secondary">
    <h3 class="section-heading text-center mt-3">Resume</h3>

    <div class="row pb-5 m-0">
      <div class="col-lg-6  col-md-12 col-sm-12">
        <div class="row d-flex justify-content-center m-0">
          <div class="resume" data-aos="fade-up" data-aos-delay="100">
            <h4 class="resume-div-heading d-flex align-items-center">
              <span class="iconify resume-div-heading-icon" data-icon="zondicons:education"></span>Education
            </h4>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading"> Diploma Web Developer </span>
                <span class="resume-div-content">
                  <p class="mb-0"> Cornestone (2023 - 2024)</p>
                </span>
              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Bachelor of Engineering - Computer Engineering</span>
                <span class="resume-div-content">
                  <p class="mb-0">University Of Mexico (2013 - 2018 </p>
                </span>

              </li>

               <li class="resume-li">
                <span class="resume-div-sub-heading">Mathematics and Basic Development.</span>
                <span class="resume-div-content">
                  <p class="mb-0">University Of La Salle  (2010 - 2013 </p>
                </span>

              </li>


            </ul>
          </div>

        </div>


        <div class="row d-flex justify-content-center m-0">

          <div class="resume" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-div-heading d-flex align-items-center">
              <span class="iconify resume-div-heading-icon"
                data-icon="fluent:certificate-20-filled"></span>Certifications
            </h3>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading">The Complete SQL Developer Course</span>

                <span class="resume-div-content">
                  <p class="mb-1">Udemy</p>
                  <span class="date-badge">
                    December 2020
                  </span>
                </span>

              </li>

            </ul>
          </div>
        </div>

      </div>


      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row d-flex justify-content-center m-0">

          <div class="resume" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-div-heading d-flex align-items-center text-justify">
              <span class="iconify resume-div-heading-icon"
                data-icon="material-symbols:home-work-outline-rounded"></span>Work Experience
            </h3>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading">SQL Developer</span>

                <span class="resume-div-content">
                  <p class="mb-1">Universidad Iberoamericana</p>

                  <div class="row">
                    <div class="col-10 d-inline-flex justify-content-start align-items-center">
                      <span class="date-badge d-inline-flex align-items-center">
                        March 2020 - November 2022
                      </span>
                    </div>

                    <div class="col-2 d-flex justify-content-end" aria-label="Know More" data-balloon-pos="up-right">
                      <button
                        class="km-amt-btn rounded-circle p-0 km-btn d-flex justify-content-center align-items-center"
                        aria-label="know more button">
                        <span class="iconify km-icon" data-icon="material-symbols:keyboard-arrow-down-rounded"></span>
                      </button>
                    </div>
                  </div>

                </span>

                <ul style="list-style-type:disc; text-align:justify"
                  class="p-3 pt-2 pb-0 resume-info-ul km-amt-info d-none">
                  <li>
                    Developed SQL jQuery"
                  </li>
                                
                    
                  <li>
                    <b>Technologies:</b> Excel, CSS, Sql, jQuery, GitHub
                  </li>
                </ul>
              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Operating systems coordinator</span>

                <span class="resume-div-content">
                  <p class="mb-1">Brog Media</p>

                  <div class="row">
                    <div class="col-10 d-inline-flex justify-content-start align-items-center">
                      <span class="date-badge d-inline-flex align-items-center">
                        February 2020 - November 2018
                      </span>
                    </div>
                    <div class="col-2 d-flex justify-content-end" aria-label="Know More" data-balloon-pos="up-right">
                      <button
                        class="km-mpt-btn rounded-circle p-0 km-btn d-flex justify-content-center align-items-center">
                        <span class="iconify km-icon" data-icon="material-symbols:keyboard-arrow-down-rounded"
                          aria-label="know more button"></span>
                      </button>
                    </div>
                  </div>

                </span>
                <ul style="list-style-type:disc; text-align:justify"
                  class="p-3 pt-2 pb-0 resume-info-ul km-mpt-info d-none">
                  <li>Developed with LG Technologies.
                  </li>

                  <li>
                    <b>Technologies:</b> HTML, CSS, JavaScript, Bootstrap, jQuery,DataTables
                  </li>

                  <li>
                    <b>Tools:</b> Lg,Sql, GitHub
                  </li>
                </ul>
              </li>

             
       

      </div>

    </div>

  </div>

</section>